.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 12px;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(51, 51, 52, 0.138);
  backdrop-filter: blur(1px);
}

.content {
  background: rgba(229, 229, 229, 0.964);
  border: 1px solid rgba(0, 0, 0, 0.71);
  border-radius: 12px;
  display: grid;
  grid-template-columns: minmax(0, 500px);
  animation: scaleup 0.1s ease-out;

  > *:not(.divider) {
    margin: 10px 18px;
  }
}

@keyframes scaleup {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

.divider {
  height: 0px;
  border-top: 1px solid rgba(0, 0, 0, 0.26);
}

.searchBar {
  border: none;
  outline: none;
  font-size: 12px;
  padding: 8px;
  border-bottom: 1px solid #c9c9c9;
  width: calc(100% - 18px * 2);
}

.files {
  max-height: 200px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 14px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px 6px transparent;
    border: solid 4px transparent;
  }

  &::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 14px 14px #bbbbbe;
    border: solid 5px transparent;
    border-top: 3px;
    border-bottom: 3px;
    border-radius: 6px;
  }

  &[data-search-active="true"] {
    // height: 200px;
    height: var(--height);
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 2px;
  }
}

.bottomBar {
  display: flex;
  justify-content: space-between;
}

li,
.file {
  display: flex;
  word-break: break-all;
  gap: 12px;
  padding: 4px 8px;
  border-radius: 100px;
  justify-content: space-between;
  position: relative;

  &:hover {
    background: rgba(0, 0, 0, 0.03);
  }

  &:focus-within {
    background-color: rgba(255, 255, 255, 0.151);
  }

  a {
    color: #000;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }

    &:focus {
      outline: none;
    }
  }

  .date {
    font-variant-numeric: tabular-nums;
    letter-spacing: -0.8px;
    color: #969696;
  }
}

.fileListMenu {
  display: flex;
  gap: 8px;
  align-items: center;
  // margin-bottom: 0 !important;

  button {
    display: flex;
    gap: 6px;
    font-weight: 500;
    align-items: center;
    font-size: 11px;
    padding: 4px 10px;
    border-radius: 100px;
    color: hsla(0, 0%, 59%, 1);

    &[data-active="true"] {
      background: rgba(249, 249, 249, 0.52);
      color: hsla(0, 0%, 32%, 1);
    }
  }
}
