.modal {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 12px;

  .inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: rgba(222, 222, 222, 0.602);
    background: radial-gradient(
        44% 36% at 0% 9.01%,
        hsla(270, 100%, 47.06%, 0.12) 0%,
        hsla(270, 100%, 47.06%, 0.118) 9.4%,
        hsla(270, 100%, 47.06%, 0.114) 17.8%,
        hsla(270, 100%, 47.06%, 0.108) 25.4%,
        hsla(270, 100%, 47.06%, 0.099) 32.2%,
        hsla(270, 100%, 47.06%, 0.089) 38.4%,
        hsla(270, 100%, 47.06%, 0.078) 44.1%,
        hsla(270, 100%, 47.06%, 0.066) 49.6%,
        hsla(270, 100%, 47.06%, 0.054) 54.9%,
        hsla(270, 100%, 47.06%, 0.042) 60.2%,
        hsla(270, 100%, 47.06%, 0.031) 65.6%,
        hsla(270, 100%, 47.06%, 0.021) 71.4%,
        hsla(270, 100%, 47.06%, 0.012) 77.5%,
        hsla(270, 100%, 47.06%, 0.006) 84.2%,
        hsla(270, 100%, 47.06%, 0.002) 91.7%,
        hsla(270, 100%, 47.06%, 0) 100%
      ),
      radial-gradient(
        56.96% 43.89% at 100% 98%,

        hsla(303, 100%, 47.06%, 0.12) 0%,
        hsla(303, 100%, 47.06%, 0.118) 9.4%,
        hsla(303, 100%, 47.06%, 0.114) 17.8%,
        hsla(303, 100%, 47.06%, 0.108) 25.4%,
        hsla(303, 100%, 47.06%, 0.099) 32.2%,
        hsla(303, 100%, 47.06%, 0.089) 38.4%,
        hsla(303, 100%, 47.06%, 0.078) 44.1%,
        hsla(303, 100%, 47.06%, 0.066) 49.6%,
        hsla(303, 100%, 47.06%, 0.054) 54.9%,
        hsla(303, 100%, 47.06%, 0.042) 60.2%,
        hsla(303, 100%, 47.06%, 0.031) 65.6%,
        hsla(303, 100%, 47.06%, 0.021) 71.4%,
        hsla(303, 100%, 47.06%, 0.012) 77.5%,
        hsla(303, 100%, 47.06%, 0.006) 84.2%,
        hsla(303, 100%, 47.06%, 0.002) 91.7%,
        hsla(303, 100%, 47.06%, 0) 100%
      ),
      rgba(222, 222, 222, 0.88);
    // background: radial-gradient(50% 100.31% at 100% 100%, rgba(255, 0, 229, 0.22) 0%, rgba(255, 230, 245, 0) 100%), radial-gradient(61.57% 123.53% at 0% 8.2%, rgba(66, 0, 255, 0.22) 0%, rgba(239, 230, 255, 0) 100%), rgba(222, 222, 222, 0.88);
    border: 1px solid rgba(0, 0, 0, 0.26);
    border-radius: 12px;
    padding: 38px;
    backdrop-filter: blur(6px);
  }
}

.aside {
  display: flex;
  flex-direction: column;
  gap: 26px;
  flex-wrap: wrap;
  justify-content: center;
}

.group {
  display: flex;
  gap: 14px;
}

.orDivider {
  text-align: center;
  color: #515151;
  font-weight: 500;
}

.spacer {
  height: 48px;
}

.spacerSm {
  height: 24px;
}
